.u-section-1 .u-sheet-1 {
  min-height: 252px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 228px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 215px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 341px;
  }
}