 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1187px;
}

.u-section-1 .u-shape-1 {
  width: 1004px;
  height: 949px;
  margin: 60px 48px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 569px;
  height: 569px;
  background-image: url("images/RTT.jpg");
  background-position: 50% 50%;
  margin: -1047px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 508px;
  min-height: 447px;
  margin: -161px 229px 154px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.8;
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0 0;
  padding: 17px 52px 17px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: -156px;
    margin-right: 90px;
    margin-bottom: 149px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1149px;
  }

  .u-section-1 .u-shape-1 {
    height: 850px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 536px;
    height: 536px;
    margin-top: -1010px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -59px;
    margin-right: 45px;
    margin-bottom: -14px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1110px;
  }

  .u-section-1 .u-shape-1 {
    height: 690px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    margin-top: -971px;
  }

  .u-section-1 .u-group-1 {
    width: 411px;
    min-height: 464px;
    margin-top: -67px;
    margin-right: 40px;
    margin-bottom: -183px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-1 .u-shape-1 {
    height: 561px;
    margin-top: 53px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 333px;
    height: 333px;
    margin-top: -754px;
  }

  .u-section-1 .u-group-1 {
    width: 257px;
    min-height: 376px;
    margin-top: 0;
    margin-right: 27px;
    margin-bottom: -95px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}