body {
    margin: 0;
    padding: 0;
    color: white;
    background: rgba(7,10,27,255);
    font-family: Arial, Helvetica, sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}


header {
    background: rgba(7,10,27,255);
    height: 105px;
    padding: 20px;
    text-align: center;
}


header .logo a {
    background-image: url("images/logo.png");
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 150px;
    position: relative;
    top: -65px;
    text-indent: -99999px;
    width: 150px;
    margin-top: 30px;
}

.twitter2 {
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
  
nav li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
}

.mobile li {
    display: none;
}

header a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-top: 40px;
    font-weight: bolder;
}

.line, .line2 {
    background: rgba(248,11,10,255);
    height: 20px;
    width: auto;
    margin: 0;
    padding: 0;
}

.features {
    display: flex;
    flex-direction: row;
}

#twitch-embed {
    padding: 50px 0;
    margin: auto;

}

.discord {
    padding: 50px 0;
    margin: 0 auto;
}

.twitter {
    padding: 50px 0;
    margin: 0 auto;
    
}



.aboutus h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
    margin-left: -50px;
    font-size: 50px;
}

.aboutus p {
    margin-left: -50px;
    padding-top: 30px;
    text-align: center;
    font-size: 30px;

    background: transparent;
}

.aboutus h2 {
    margin-left: -50px;
    text-align: center;
    font-size: 40px;
    color: rgb(114,137,218);
    text-decoration: none;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.staff {
    background-image: url("images/hero.png");
    background-size: 100%;
    background-position: center;
    padding: 0px;
    margin: 0;
}

.staff h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
    margin-left: -50px;
    font-size: 50px;
}

.staff-members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.staff-members .member {
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 50px;
    color: black;
    margin: auto;
    margin-bottom: 50px;
    width: 800px;
    height: 100px;
}


.staff-members .member img {
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    max-width: 80px;
    max-height: 80px;
}

.staff-members .member .desc {
    width: 700px;
    margin-left: 10px;
}
.staff-members .member .desc h3 {
    margin: 5px 0 2px 0;
    font-weight: 900;
}

.staff-members .member .desc p {
    margin: auto 10px 0 0 ;
    font-size: 15px;
    overflow: hidden;
    text-align: center;
    max-width: 680px;
    max-height: 50px;
}
 

@media screen and (max-width: 1080px) {
    #twitch-embed {
        display: none;
    }
    .twitter {
        display: none;
    }
    .discord {
        display: none;
    }
    .line2 {
        display: none;
    }
}

@media screen and (max-width: 1919px) {
    .discord {
        display: none;
    }
    .twitter {
        display: none;
    }
}

@media screen and (max-width: 605px) {
    nav {
        display: none;
    }
    header {
        height: 40px;
    }
    .mobile ul {
        margin: 0;
        padding: 0;
        list-style-type: none; 
    }
      
    .mobile li {
        display: inline-block;
        margin-top: 10px;
        margin-right: 20px;
    }
}
    



  
