body {
    margin: 0;
    padding: 0;
    color: white;
    background: rgba(7,10,27,255);
    font-family: Arial, Helvetica, sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}


header {
    background: rgba(7,10,27,255);
    height: 105px;
    padding: 20px;
    text-align: center;
}


header .logo a {
    background-image: url("images/logo.png");
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 150px;
    position: relative;
    top: -65px;
    text-indent: -99999px;
    width: 150px;
    margin-top: 30px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
  
nav li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
}

.mobile li {
    display: none;
}

header a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-top: 40px;
    font-weight: bolder;
}



.tab {
    color: #f0f;
}

.tab2 {
    margin-left: 500px;
    color: #f0f;
}

footer {
    display: flex;
    flex-direction: row;
    height: 300px;
    font-family: Rajdhani,sans-serif;
}


footer .socials {
    width: 500px;
    display: flex;
    flex-direction: column;
}

footer .socials div {
    display: flex;
    flex-direction: row;
}

footer .socials div img {
    margin-top: 1px;
    margin-right: 5px;
    margin-left: 35px;
    max-width: 15px;
    max-height: 15px;
    filter: invert(97%) sepia(4%) saturate(11%) hue-rotate(21deg) brightness(87%) contrast(87%);
}


footer .socials div h3 {
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: 10px;
    margin-bottom: 40px;
}

footer .socials div a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 40px;
    font-size: 12px;
    color: #ccc;
}

.abus {
    margin-left: 33px;
}

.part {
    margin-left: 33px;
}

.fstaff {
    margin-left: 33px;
}

.move {
    margin-left: 40px;
}

.discord {
    max-height: 40px;
    max-width: 40px;
}

.flogo img {
    max-height: 300px;
    max-width: 300px;
    margin-top: -25px;
    margin-left: 400px;
}


@media screen and (max-width: 605px) {
    nav {
        display: none;
    }
    header {
        height: 40px;
    }
    .mobile ul {
        margin: 0;
        padding: 0;
        list-style-type: none; 
    }
      
    .mobile li {
        display: inline-block;
        margin-top: 10px;
        margin-right: 20px;
    }
}
    



  
